{% load staticfiles %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

</head>
<body>

</body>
</html>
<html lang="en">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<head>
    <meta charset="UTF-8">
    <title>{% block title %} Shahriar's Blog {% endblock %} </title>
    {% include 'blog/head_css.html' %}

</head>
<body>



<header class="head">
    <div class="container">
        <div class="row">
            <div class="col-xs-3">
                <div class="social-link">

                    <a href="https://www.facebook.com/" class="icons-sm fb-ic"><i class="fa fa-facebook fa-lg white-text mr-md-4"> </i></a>

                    <a href="https://twitter.com/shahriar_siddik" class="icons-sm tw-ic"><i class="fa fa-twitter fa-lg white-text mr-md-4"> </i></a>

                    <a href="https://plus.google.com/u/1/+ShahriarSiddik" class="icons-sm gplus-ic"><i class="fa fa-google-plus fa-lg white-text mr-md-4"> </i></a>

                    <a href="https://www.linkedin.com/in/shahriar-siddik" class="icons-sm li-ic"><i class="fa fa-linkedin fa-lg white-text mr-md-4"> </i></a>

                    <a href="https://www.instagram.com/shahriar.siddik/" class="icons-sm ins-ic"><i class="fa fa-instagram fa-lg white-text mr-md-4"> </i></a>
                    <a href="https://github.com/shahriarsiddik" class="icons-lg git-ic"><i class="fa fa-github fa-lg" aria-hidden="true"></i></a>

                </div>
            </div>

        </div>
        <div class="row">
            <div class="col-xs-6 col-xs-offset-3">
                <a href="/" class="reset-link"><h1 class="blog-title text-center">Shahriar's Blog</h1></a>
            </div>
        </div>

        <div class="row">
            <div class="col-xs-6 col-xs-offset-3">
                {% include 'blog/search_content.html' %}
            </div>

        </div>
    </div>
</header>

{% include 'blog/nav-bar.html' %}

<div class="container">

    {% block content %}

    {% endblock %}

</div>

<hr/>
{% include 'blog/javascript.html' %}
</body>
</html>