

<footer class="page-footer" id ="footer-blog">
    <div class="container">
        <div class="row">
            <div class="col-xs-6 col-xs-offset-3">
                <div class="footer-socials mb-5 flex-center">
                    <a href="https://www.facebook.com/ravishingpinkk" class="icons-sm fb-ic"><i class="fa fa-facebook fa-lg white-text mr-md-4"> </i></a>

                    <a href="https://twitter.com/shahriar_siddik" class="icons-sm tw-ic"><i class="fa fa-twitter fa-lg white-text mr-md-4"> </i></a>

                    <a href="https://plus.google.com/u/1/+ShahriarSiddik" class="icons-sm gplus-ic"><i class="fa fa-google-plus fa-lg white-text mr-md-4"> </i></a>

                    <a href="https://www.linkedin.com/in/shahriar-siddik" class="icons-sm li-ic"><i class="fa fa-linkedin fa-lg white-text mr-md-4"> </i></a>

                    <a href="https://www.instagram.com/shahriar.siddik/" class="icons-sm ins-ic"><i class="fa fa-instagram fa-lg white-text mr-md-4"> </i></a>
                    <a href="https://github.com/shahriarsiddik" class="icons-lg git-ic"><i class="fa fa-github fa-lg" aria-hidden="true"></i></a>
                </div>
            </div>
        </div>
    </div>

</footer>
<hr/>
