
{% load staticfiles %}
<link href="{% static 'blog/css/font.css' %}" rel="stylesheet">
<link href="{% static 'blog/css/anton-font.css' %}" rel='stylesheet' type='text/css'>
<script src="{% static 'blog/js/font-awesome.js' %}"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

<link rel="stylesheet" href="{% static 'blog/css/bootstrap.min.css' %}">
<link rel="stylesheet" href="{% static 'blog/css/bootstrap-theme.min.css' %}">

<link rel="stylesheet" href="{% static 'blog/css/custom.css' %}">
<link rel="shortcut icon" href="{% static 'blog/img/s.ico' %}" type="image/x-icon">
<link rel="icon" href="{% static 'blog/img/s.ico' %}" type="image/x-icon">