<form class="search-form" role="search" action="{% url 'post-list' %}" method="get">
    <div class="form-group pull-right" id="search">
        <input type="text" name="q" class="form-control" placeholder="search">
        <button type="submit" class="form-control form-control-submit">
        </button>
        <span class="search-label"><i class="glyphicon glyphicon-search"></i></span>

    </div>
    <!--<button class="searchbutton" type="submit">-->
    <!--<i class="fa fa-search"></i>-->
    <!--</button>-->
    <!--<input class="searchfield" id="search-box" name="q" type="text" placeholder="Search" />-->


</form>

<script>
    $(document).ready(function(){
        $('#search').on("click",(function(e){
            $(".form-group").addClass("sb-search-open");
            e.stopPropagation()
        }));
        $(document).on("click", function(e) {
            if ($(e.target).is("#search") === false && $(".form-control").val().length == 0) {
                $(".form-group").removeClass("sb-search-open");
            }
        });
        $(".form-control-submit").click(function(e){
            $(".form-control").each(function(){
                if($(".form-control").val().length == 0){
                    e.preventDefault();
                    $(this).css('border', '2px solid red');
                }
            })
        })
    })
</script>